Repository schoolboyqueue/home-assistant-blueprints: changes, and which pre-commit hooks are due for each by the changed paths.
All: govulncheck, blueprint-validation, blueprint-version-check, blueprint-documentation, go-tools-version-check

govulncheck:
  name: Security audit with govulncheck
  entry: bash -c 'cd scripts/validate-blueprint-go && go install golang.org/x/vuln/cmd/govulncheck@latest && govulncheck ./... && cd ../ha-ws-client-go && govulncheck ./...'
  language: system
  pass_filenames: false

blueprint-validation:
  name: Validate Home Assistant Blueprints
  entry: .pre-commit/hooks/validate-blueprints.sh
  language: script
  pass_filenames: true
  require_serial: true

blueprint-version-check:
  name: Check blueprint version consistency
  entry: .pre-commit/hooks/check-blueprint-versions.sh
  language: script
  pass_filenames: true

blueprint-documentation:
  name: Check blueprint documentation
  entry: .pre-commit/hooks/check-documentation.sh
  language: script
  pass_filenames: true

go-tools-version-check:
  name: Check Go tool versions and changelogs
  entry: .pre-commit/hooks/check-go-versions.sh
  language: script
  pass_filenames: true

build: migrate markdownlint config to yaml and enforce code block languages
  .markdownlint.json
  .markdownlint.yaml
  .markdownlintignore
  _config.yml
  blueprints/adaptive-fan-control/README.md
  blueprints/shared/README.md
  scripts/ha-ws-client-go/CLAUDE.md
  scripts/ha-ws-client-go/HA_WEBSOCKET_API.md
  scripts/ha-ws-client-go/README.md
  scripts/validate-blueprint-go/CLAUDE.md
  scripts/validate-blueprint-go/README.md
Due: blueprint-version-check

build: add prettier for markdown table formatting
  .prettierignore
  .prettierrc.yaml
  CLAUDE.md
  CONTRIBUTING.md
  blueprints/adaptive-comfort-control/CHANGELOG.md
  blueprints/adaptive-comfort-control/LEARNING_SETUP.md
  blueprints/adaptive-comfort-control/README.md
  blueprints/adaptive-fan-control/README.md
  blueprints/adaptive-shades/CHANGELOG.md
  blueprints/bathroom-light-fan-control/CHANGELOG.md
  blueprints/bathroom-light-fan-control/README.md
  blueprints/multi-switch-light-control/README.md
  blueprints/shared/README.md
  package.json
  scripts/README.md
  scripts/ha-ws-client-go/CLAUDE.md
  scripts/ha-ws-client-go/HA_WEBSOCKET_API.md
  scripts/ha-ws-client-go/README.md
  scripts/validate-blueprint-go/CLAUDE.md
  scripts/validate-blueprint-go/README.md
Due: blueprint-version-check

build: integrate markdown formatting into makefile
  CLAUDE.md
  Makefile
  package.json
  scripts/ha-ws-client-go/cmd/ha-ws-client/main.go
  scripts/validate-blueprint-go/main.go
Due: govulncheck, go-tools-version-check

fix(ci): add PATH export for go install tools in workflow
  .github/workflows/ci-go-tools.yml
Due: none

feat: upgrade to Go 1.23 to fix standard library vulnerabilities
  .github/workflows/ci-go-tools.yml
  .github/workflows/release-go-tools.yml
  .github/workflows/validate-blueprints.yml
  .pre-commit-config.yaml
  scripts/go-tools/selfupdate/go.mod
  scripts/ha-ws-client-go/go.mod
  scripts/internal/shared/go.mod
  scripts/testfixtures/go.mod
  scripts/validate-blueprint-go/go.mod
Due: govulncheck, go-tools-version-check

feat: upgrade to Go 1.25.5 (latest stable)
  .github/workflows/ci-go-tools.yml
  scripts/go-tools/selfupdate/go.mod
  scripts/ha-ws-client-go/go.mod
  scripts/ha-ws-client-go/internal/cli/time_test.go
  scripts/ha-ws-client-go/internal/client/client_test.go
  scripts/ha-ws-client-go/internal/handlers/automation_test.go
  scripts/ha-ws-client-go/internal/handlers/basic_test.go
  scripts/ha-ws-client-go/internal/handlers/batch_test.go
  scripts/ha-ws-client-go/internal/handlers/history_test.go
  scripts/ha-ws-client-go/internal/handlers/middleware_test.go
  scripts/ha-ws-client-go/internal/handlers/monitor_test.go
  scripts/ha-ws-client-go/internal/handlers/registry_test.go
  scripts/ha-ws-client-go/internal/output/output_test.go
  scripts/internal/shared/go.mod
  scripts/testfixtures/go.mod
  scripts/validate-blueprint-go/go.mod
Due: govulncheck, go-tools-version-check

fix(ci): replace go-vet pre-commit hook with local implementation
  .pre-commit-config.yaml
Due: none

fix(ci): update remaining workflows to Go 1.25
  .github/workflows/release-go-tools.yml
  .github/workflows/validate-blueprints.yml
Due: none

chore: trigger CI workflow
  scripts/ha-ws-client-go/go.mod
Due: govulncheck, go-tools-version-check

fix(ci): disable golangci-lint cache to use correct Go version
  .github/workflows/ci-go-tools.yml
Due: none

fix(ci): install golangci-lint manually instead of using action
  .github/workflows/ci-go-tools.yml
Due: none

fix(ci): disable typecheck linter to avoid Go version mismatch
  .github/workflows/ci-go-tools.yml
Due: none

fix(ci): update golangci-lint config to Go 1.25
  .github/workflows/ci-go-tools.yml
  scripts/.golangci.yml
Due: none

fix(ci): set golangci-lint config to Go 1.23
  scripts/.golangci.yml
Due: none

fix(ci): disable typecheck linter in golangci-lint config
  scripts/.golangci.yml
Due: none

fix(ci): remove disable section from golangci-lint config
  scripts/.golangci.yml
Due: none

fix(ci): disable govet in golangci-lint to avoid typecheck conflict
  scripts/.golangci.yml
Due: none

ci: skip golangci-lint due to Go 1.25 incompatibility
  .github/workflows/ci-go-tools.yml
Due: none

ci: build golangci-lint from source for Go 1.25 compatibility
  .github/workflows/ci-go-tools.yml
Due: none

fix(adaptive-comfort): use season-weighted learned offsets instead of averaging
  blueprints/adaptive-comfort-control/README.md
  blueprints/adaptive-comfort-control/adaptive_comfort_control_pro_blueprint.yaml
Due: blueprint-validation, blueprint-version-check, blueprint-documentation

Path conditions:
  govulncheck: any of: ^scripts/(ha-ws-client-go|validate-blueprint-go)/(go\.mod|go\.sum|.*\.go)$
  blueprint-validation: any of: ^blueprints/[^/]+/.*\.yaml$, but not: ^blueprints/shared/
  blueprint-version-check: any of: ^blueprints/[^/]+/.*\.(yaml|md)$, but not: ^blueprints/shared/
  blueprint-documentation: any of: ^blueprints/[^/]+/.*\.yaml$, but not: ^blueprints/shared/
  go-tools-version-check: any of: ^scripts/(ha-ws-client-go|validate-blueprint-go)/.*\.(go|mod|sum)$
